body {
    background: #eee;
    text-align: center;
    
}

#main {
    width: 100%;
    margin: auto;
    text-align: left;
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.form {
    width: 300px;
    margin: 0 auto;
}

.inputfield {
    width: 300px;
    border: 1px solid #eee;
    padding-left: 5px !important;
    margin: auto;
    padding: 0px;
    height: 25px;
    margin-bottom: 10px;
}

#buttonholder {
    text-align: center;
    cursor: pointer;
}

#buttonholder:hover {
    text-align: center;
    cursor: pointer;
}

.btn {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 25px;
    background-color: #111;
    color: white;
    border:none;
    border-radius: 4px;
}

.username {
    width: 100%;
}

#locationField, #controls {
    position: relative;
    max-width: 300px;
    margin: auto;
    height: 25px;
    margin-bottom: 10px !important;
}

#autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
}

#address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 300px;
    padding-right: 2px;
}

#address td {
    font-size: 10pt;
}

.field {
    width: 99%;
}

.slimField {
    width: 80px;
}

.wideField {
    width: 200px;
}

#locationField {
    height: 20px;
    margin-bottom: 2px;
}